**/.ipynb_checkpoints/*
blake_notes_structure/schedule.gnumeric
Outline/indent.log
Outline/Outline.synctex.gz
2025_work/**/*
Lectures/Lecture02_Seafloor-all.ipynb
Lectures/Lecture03_Seafloor2-Copy2.ipynb
Lectures/Lecture07_Plumes-Copy1.ipynb
